* { margin: 0; padding: 0; box-sizing: border-box; }

/* messaging ---------------------------------*/
body { font: 13px Helvetica, Arial; }
form { position: absolute; background: #000; padding: 3px; width: 100%; }
/* form tag, input tag (inner) */
form input { border: 0; padding: 5px; width: 100%; }
/* form tag, button tag (inner) */
form button { width: 100%; background: rgb(130, 124, 255); border: none; }
#msg { list-style-type: none; margin: 0; padding: 0; }
#msg { list-style-type: none; margin: 0; padding: 0; }
#msg li { padding: 5px 10px; }
#msgy li:nth-child(odd) { background: #eee; }

#msgWindow {position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    border: 3px solid #73AD21;
}

/* checker game ---------------------------------*/  
.canvas {
	width: 400px;
	height: 400px;
	border: 10px solid #6e5837;
}

.row {
	display: table-row;
	margin: 0;
	padding: 0;
}

.bblack, .bwhite {
	display: table-cell;
	border-color: #080501;
	border-width: 1px;
	border-style: solid;
	width: 48px;
	height: 48px;
	margin: 0;
	padding: 0;
}

.bblack {
	background-color: #6e5837;
}

.bwhite {
	background-color: #959c81;
}

.piece {
	margin-left: 4px;
	margin-top: 4px;
}

.bblack.drop {
	opacity: 0.5;
}

.piece.selected {
	opacity: 0.5;
}